header {
    margin-top: 41px;
    background-color: white;

    .header-wrapper {
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .logo {
            height: 80px;
        }
    }

    .header-links {
        display: flex;
        align-items: center;
        gap: 30px;
        font-size: 1.1rem;

        a {
            display: block;
            height: 120px;
            line-height: 120px;

            &:hover,
            &.active {

                border-bottom: 4px solid $dc_primary;
                color: $dc_primary;
            }
        }
    }



}